body {
    font-family: Arial, sans-serif;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

.calculator {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#display {
    width: 80%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
}

button:hover {
    background-color: #666;
}

#btnEquals {
    grid-column: span 4;
    background-color: #ff9500;
}

#btnClear {
    background-color: #ff3b30;
}
